#movie-cards {
    .my-col {
        width: calc(100% / 5);
        padding: 1rem;

        .card {
            width: 100%;
            height: 800px;


            img {
                height: 330px;
            }
        }
    }
}